nav{
    text-align: center;
    margin: 20px;

}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline-block;
}
nav li a {
    display: block;
    color: #710485;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;
    width: 150px;
    height: 30px;
}
nav a:hover {
    background-color: #535C91;
    color: #1B1A55;
}
body{
    background-color: black ;
    color: #322F2F ;
}
#container  {
    background-color: whitesmoke;
    width: 1000px;
    margin: 20px auto;
    border: 5px #301934;
    padding: 20px;
}
.heading_style {
    text-shadow: 5px 5px 5px #301934;
}
img{
    display: block;
    margin: 0 auto;
    width: 500px;
}

h1, h2, h3  {
    text-align: center;
}